button {
    border-radius: "2px";
    padding: "5px 25px";
  }

  button {
    border-radius: 5px;
    padding: 5px 25px;
  }

  .primary {
    background-color: #33A0FF;
    color: white;
    border: #0069D9;
    border-radius: 5px;
  }


  .primary2 {
    background-color: #2E90E5;
    color: white;
    border: #0069D9;
    border-radius: 5px;
  }

  .primary3 {
    background-color: white;
    color: #33A0FF;
    border: 2px solid #33A0FF;
    border-radius: 5px;
  }

  .primary4 {
    background-color: rgba(51, 160, 255, 0.205);
    color: #33A0FF;
    border-radius: 5px;
  }

  .primary5 {
    background-color: #33A0FF;
    color: white;
    border: #0069D9;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
  
  .primary6 {
    background-color: rgba(51, 160, 255, 0.205);
    color: #33A0FF;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .primary6:hover {
      border: 1px solid #0069D9;
  }

  .primary7 {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #33A0FF;
    border: 2px solid #33A0FF;
    border-radius: 5px;
  }

  .danger {
      background-color: red;
      color: white;
      border-radius: 5px;
  }

  .danger2 {
    background-color: #FF4858;
    color: white;
    border-radius: 5px;
  }

  .danger3 {
    background-color: white;
    color: #FF4858;
    border: 2px solid #FF4858;
    border-radius: 5px;
  }

  .danger4 {
    background-color: rgba(255, 72, 87, 0.205);
    color: #FF4858;
    border: none;
    border-radius: 5px;
  }

  .danger5 {
    background-color: #FF4858;
    color: white;
    border: #FF4858;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
  
  .danger6 {
    background-color: rgba(255, 72, 87, 0.205);
    color: #FF4858;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .danger6:hover {
      border: 1px solid #0069D9;
  }

  .danger7 {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #FF4858;
    border: 2px solid #FF4858;
    border-radius: 5px;
  }


  .warning {
      background-color: #FFC600;
      color: white;
      border: #FFC600;
  }

  .warning2 {
    background-color: #FFC600;
    color: white;
    border-radius: 5px;
  }

  .warning3 {
    background-color: white;
    color: #FFC600;
    border: 2px solid #FFC600;
    border-radius: 5px;
  }

  .warning4 {
    background-color: rgba(255, 200, 0, 0.205);
    color: #FFC600;
    border: none;
    border-radius: 5px;
  }

  .warning5 {
    background-color: #FFC600;
    color: white;
    border: #FFC600;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
  
  .warning6 {
    background-color: rgba(255, 200, 0, 0.205);
    color: #FFC600;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .warning6:hover {
      border: 1px solid #FFC600;
  }

  .warning7 {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #FFC600;
    border: 2px solid #FFC600;
    border-radius: 5px;
  }

  .success {
    background-color: #0AD00A;
    color: white;
    border: #0AD00A; 
  }

  .success2 {
    background-color: #0AD00A;
    color: white;
    border-radius: 5px;
  }

  .success3 {
    background-color: white;
    color: #0AD00A;
    border: 2px solid #0AD00A;
    border-radius: 5px;
  }

  .success4 {
    background-color: rgba(10, 208, 10, 0.205);
    color: #0AD00A;
    border: none;
    border-radius: 5px;
  }

  .success5 {
    background-color: #0AD00A;
    color: white;
    border: #0AD00A;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
  
  .success6 {
    background-color: rgba(10, 208, 10, 0.205);
    color: #0AD00A;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .success6:hover {
      border: 1px solid #0AD00A;
  }

  .success7 {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #0AD00A;
    border: 2px solid #0AD00A;
    border-radius: 5px;
  }

  .default {
    background-color: #22262A;
    color: white;
    border: #22262A; 
  }
  .default2 {
    background-color: #22262A;
    color: white;
    border-radius: 5px;
  }

  .default3 {
    background-color: white;
    color: #22262A;
    border: 2px solid #22262A;
    border-radius: 5px;
  }

  .default4 {
    background-color: #E5E8EA;
    color: #22262A;
    border: none;
    border-radius: 5px;
  }

  .default5 {
    background-color: #22262A;
    color: white;
    border: #22262A;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }
  
  .default6 {
    background-color: #E5E8EA;
    color: #22262A;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .default6:hover {
      border: 1px solid #22262A;
  }

  .default7 {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #22262A;
    border: 2px solid #22262A;
    border-radius: 5px;
  }